@font-face {
    font-family: 'bowlby_oneregular';
    src: url('../fonts/bowlbyone-regular-webfont.eot');
    src: url('../fonts/bowlbyone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bowlbyone-regular-webfont.woff') format('woff'),
         url('../fonts/bowlbyone-regular-webfont.ttf') format('truetype'),
         url('../fonts/bowlbyone-regular-webfont.svg#bowlby_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bpreplayregular';
    src: url('../fonts/bpreplay-webfont.eot');
    src: url('../fonts/bpreplay-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpreplay-webfont.woff') format('woff'),
         url('../fonts/bpreplay-webfont.ttf') format('truetype'),
         url('../fonts/bpreplay-webfont.svg#bpreplayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bpreplaybold';
    src: url('../fonts/bpreplaybold-webfont.eot');
    src: url('../fonts/bpreplaybold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpreplaybold-webfont.woff') format('woff'),
         url('../fonts/bpreplaybold-webfont.ttf') format('truetype'),
         url('../fonts/bpreplaybold-webfont.svg#bpreplaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
	margin: 0;
	padding: 0;

	-webkit-font-smoothing: antialiased;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'bpreplayregular';
	line-height: 1.4em;
	background: #fdd82a;
	color: #333333;
	width:auto;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}
header {
	background: url(../img/bkgd_pattern.gif) repeat;
	padding: 50px 15px;
	margin-top: 200px;
	color:#ffffff;
	text-align:center;
	text-transform:uppercase;
	font-family: 'bowlby_oneregular';
	font-size:20px;
	letter-spacing:0.1em;

}
header img {
	top: 35px;
	left: 50%;
	position: absolute;
	margin-left: -127px;
}
header h1 {
	line-height:1.2em;
}
#main {
	background:#ffffff;
}
.details {
	text-align: center;
	color: #888888;
	margin: 0 auto;
	max-width: 950px;
	padding: 53px 25px;
	width: 100%;
}
.details h1 {
	color:#f26725;
	font-family: 'bpreplaybold';
	font-size:28px;
	letter-spacing: 0.04em;
	line-height:1.4em;
	margin-bottom:20px;
}

.details .details-block {
    float: left;
    margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
	.details .details-block {
		margin: 0 1.66666667% 30px;
	    width: 30%;
	}
}
.details p {
	margin-bottom:25px;
	font-size: 20px;
	line-height:1.4em;
}
.sign-up {
	clear: both;
	color:#888888;
	padding:53px 25px;
	text-align:center;
}
.sign-up p {
	margin-bottom:25px;
	font-size: 20px;
	line-height:1.4em;
}
.sign-up .offer {
	font-family: 'bpreplaybold';
}
.sign-up strong {
	color:#f26725;
}
input[type="text"], input[type="email"] {
	background:#ffffff;
	color:#aaaaaa;
	padding:10px;
	margin-bottom:10px;
	border:1px solid #888888;
	width:100%;
	max-width:300px;
	font-family: 'bpreplayregular';
}
input[type="submit"] {
	background:#f26725;
	color:#facbbd;
	padding:10px;
	text-transform:uppercase;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	width: 200px;
	margin-top:20px;
	font-family: 'bpreplaybold';
	letter-spacing: 0.13em;
	-webkit-appearance: none;
}
footer {
	color: #bebebf;
	line-height: 37px;
	font-size:11px;
	text-align:center;
	line-height:1.7em;
}
footer a {
	display:block;
	text-indent:-50em;
	overflow:hidden;
	height:43px;
}
.social-sites {
	background: #404148;
	padding:25px;
}
.social-sites ul {
	list-style-type:none;
	margin-bottom:40px;
}
.social-sites li {
	display:inline-block;
	margin:0 15px;
	width:43px;
	height:43px;
}
.facebook {
	background:url(../img/social_btns.png) no-repeat 0 0;
}
.facebook:hover {
	background-position:0 -43px;
}
.twitter {
	background:url(../img/social_btns.png) no-repeat -67px 0;
}
.twitter:hover {
	background-position:-67px -43px;
}
.google {
	background:url(../img/social_btns.png) no-repeat -133px 0;
}
.google:hover {
	background-position:-133px -43px;
}
.colorado-ebn {
	background:url(../img/colorado_ebn.png) no-repeat;
	width:105px;
	height:50px;
	margin:0 auto;
}
.legal {
	background: #2c2d34;
	padding:15px;
	letter-spacing: 0.1em;
}

.banner {
	position: relative;
	width: 100%;
	overflow: auto;
	line-height: 24px;
	text-align: left;
	color: #231f20;
}
.banner ul {
	list-style: none;
	width: 300%;
	overflow:initial !important;
}
.banner ul li {
	display: block;
	float: left;
	width: 33%;
	min-height: 400px;
	position:relative;

	-o-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.left {
	left:90px;
}
.right {
	right:90px;
}
.banner .inner {
	padding: 35px;
	background-color:#ffffff;
	background-color: rgba(255, 255, 255, .8);
	width:280px;
	min-height:200px;
	position:absolute;
	bottom:0;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.banner .inner.big-box {
	width:440px;
}
.banner h1 {
	font-size: 20px;
	font-family: 'bpreplaybold';
	line-height:1.4em;
	margin-bottom:20px;
}
.banner h2 {
	font-size: 20px;
	font-family: 'bpreplayregular';
	line-height:1.4em;
}
.banner p {
	font-size:14px;
	font-family: 'bpreplayregular';
	margin-bottom:10px;
}
.banner strong {
	font-family: 'bpreplaybold';
}

.banner .btn, .banner .dot {
	-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
}

.banner .dots {
	position: absolute;
	left: 0;
	right: 0;
	top: 20px;
	width: 100%;
	text-align:center;
}
.banner .dots li {
	display: inline-block;
	zoom: 1;

	width: 10px;
	height: 10px;
	line-height: 10px;
	margin: 0 4px;

	text-indent: -999em;

	border: 2px solid #fff;
	border-radius: 6px;

	cursor: pointer;
	opacity: .4;

	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}
.banner .dots li.active {
	background: #fff;
	opacity: 1;
}

.banner .arrows {
	position: absolute;
	top: 50%;
	color: #fff;
	width:100%;
}
.banner .arrow {
	display: inline-block;
	cursor: pointer;
	width:26px;
	height:44px;
	text-indent:-50em;
	overflow:hidden;
	background:url(../img/arrows.png) no-repeat;
	margin-top:-22px;
	-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
}
.banner .arrow.prev {
	position:absolute;
	left:10px;
}
.banner .arrow.next {
	position:absolute;
	right:10px;
	background-position:-31px 0;
}
.banner.mobile {
	display:none;
}
.banner.mobile strong {
	display:block;
}
.banner.mobile ul .slide {
	display: block;
	width: 100%;
	position:relative;

	-o-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.slide img {
	width:100%;
	height:auto;
	margin-bottom:-7px;
}
.banner.mobile .inner {
	padding: 35px;
	background-color:#fdd82a;
	width:100%;
	min-height:100px;
	position:relative;
	text-align:center;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.banner.mobile .arrows {
	top:0;
}
.banner.mobile .arrow {
	position:absolute;
	top:50%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 900px) {
	header {
		margin-top:146px;
	}
	header img {
		width: 159px;
        height: 155px;
		margin-left: -79px;
		top:12px;
    }
	header h1 {
		font-size:17px;
		letter-spacing:0.1em;
	}
	.banner.mobile {
		display:block;
	}
	.banner.standard {
		display:none;
	}
	.banner ul li {
		height: auto;
	}
	.banner p {
		font-size: 15px;
		width: 80%;
		margin: 0 auto 10px;
		line-height:1.4em;
	}
	.sign-up h1 {
		font-size:24px;
	}
	footer {
		line-height:1.7em;
	}
}